<div class="row">
  <legend><strong>New Account</strong></legend>
  <label id="firstname-label" class="firstname">
  <strong>First name</strong>
  <input type="text" value="" name="FirstName" id="FirstName" value="" spellcheck="false">
  </label>
  <label id="lastname-label" class="lastname">
  <strong>Last name</strong>
  <input type="text" value="" name="LastName" id="LastName" value="" spellcheck="false">
  </label>
  </fieldset>
</div>

<div class="row">
  <label id="address-label">
  <strong> Choose your username </strong>
  <input type="text" maxlength="30" autocomplete="off" name="address" id="address" value="" spellcheck="false">
  </label>
</div>

<div class="row" id="password">
  <label id="password-label">
  <strong>Create a password</strong>
  <input type="password" name="Passwd" id="Passwd" >
  </label>
</div>

<div class="row" id="confirm-password">
  <label id="confirm-password-label">
  <strong>Confirm password</strong>
  <input type="password" name="Passwd" id="Passwd" >
  </label>
</div>

<div class="row" id="birthday">
  <legend><strong id="BirthdayLabel">Birthday [Optional]</strong></legend>

  <label id="day-label" class="day">
  <strong>Day</strong>
  <input type="text" maxlength="2" value="" name="BirthDay" id="BirthDay" value="">
  </label>

  <label id="month-label" class="month">
    <strong>Month</strong>
    <input type="text" maxlength="2" value="" name="BirthMonth" id="BirthMonth" value="">
  </label>

  <label id="year-label" class="year">
  <strong>Year</strong>
  <input type="text" maxlength="4" value="" name="BirthYear" id="BirthYear" value="">
  </label>

</div>
