<div class="span12">
	<div class="row">
		<a href='/' style="float: left;">
			<span>Coders Ranking</span>
		</a>
	</div>

    <div class='row' style="float:left; width:50%">
	   <div class="span "id='signin'>
            <section class='panel sign-up-panel'>
                <header>
                    <br />
                    <h1>Sign in</h1>
                </header>
                <div class='inside-panel'>
                        <div class = "row">
                            <br />
                            <div class="span3">
                                <a class='button' href='https://github.com/login'>
                                    <div class='signin github'></div>
                                    Sign in via GitHub
                                </a>
                            </div>
                        </div>
                        <div class = "row">
                            <br />
                                <div class="span3">
                                    <a class='button' href='http://www.linkedin.com/'>
                                        <div class='signin linkedin'></div>
                                        Sign in via Linkedin
                                    </a>
                                </div>
                        </div>

                        <div class = "row">
                             <br />
                                <div class="span3">
                                    <a class='button' href='http://stackoverflow.com/users/login'>
                                        <div class='signin stackoverflow'></div>
                                        Sign in via Stack Overflow
                                    </a>
                                </div>
                        </div>


                </div>
            </section>

        </div>
    </div>
    <div style="float : right; width:50%">
        <br/>
        <br/>
        <p> Or, you can sign in with your Coders Ranking account</p>
             <div class="email-div">
                <label for="Email"><strong class="email-label">Username</strong></label>
                <input type="email" spellcheck="false"
                    name="Email" id="Email" value="">
             </div>
             <div class="passwd-div">
                <label for="Passwd"><strong class="passwd-label">Password</strong></label>
                <input type="password" name="Passwd" id="Passwd">
             </div>
                 <input class="button-submit" type="submit" value="Sign in" name="signIn"/>
             <p class=''>
                 Don't have an account?
                 <a href="http://localhost:3000/pages/new_action">Join Coders Ranking</a>.
             </p>
    </div>
</div>
